{% extends 'base.html' %}

{% block title %}{{ action }} Modelo{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3>{{ action }} Modelo</h3>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">{{ form.brand.label }}</label>
                        {{ form.brand }}
                        <div class="text-danger">{{ form.brand.errors }}</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{ form.name.label }}</label>
                        {{ form.name }}
                        <div class="text-danger">{{ form.name.errors }}</div>
                    </div>

                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'model_list' %}" class="btn btn-outline-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-success px-5">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}